.pane-main
{
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
    -fx-background-color: white ;
    -fx-background-insets: 10px;
    -fx-effect: dropshadow(three-pass-box, #000, 4, 0, 1, 1);
    -fx-padding: 5 5 5 5;

}

.pane-bg
{
    -fx-background-image: url("../images/bg.jpg") ;
    -fx-background-repeat: repeat;
}

.pane-menu
{
    -fx-pref-width: 250px;
    -fx-pref-height: 200px;
    -fx-background-color: #fff;
    -fx-translate-x: 120px;
    -fx-translate-y: 45px;
    -fx-border-color: #c6cac8;
}

.hbox-toolbar
{
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-padding: 5px;
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #c6cac8;
    -fx-border-radius: 5px;
    -fx-spacing: 5px;
}

.hbox-label
{
    -fx-spacing: 2px;
    -fx-translate-y: 0px;
    -fx-text-fill: #989898;
    -fx-border-color: #c6cac8;
    -fx-border-width: 0 0 1 0;
    -fx-alignment: center;
}

.label-login
{
    -fx-font-size: 12px;
    -fx-text-fill: #989898;
}

.jfx-text-field-username
{
    -fx-translate-x: 50px;
    -fx-pref-width: 150px;
    -fx-translate-y: 50px;
    -jfx-label-float: true;
    -jfx-focus-color: #8b0000;
}

.jfx-password-field-password
{
    -fx-translate-x: 50px;
    -fx-pref-width: 150px;
    -fx-translate-y: 100px;
    -jfx-label-float: true;
    -jfx-focus-color: #8b0000;
}

.jfx-button
{
    -fx-text-fill: #fff;
    -fx-background-color: #8b0000;
}

.jfx-button-login
{
    -fx-pref-width: 70px;
    -fx-translate-y: 150px;
    -fx-translate-x: 50px;

}

.jfx-button-register
{
    -fx-pref-width: 70px;
    -fx-translate-y: 150px;
    -fx-translate-x: 130px;
}

.jfx-button:hover
{
    -fx-cursor: hand;
}



