.pane-main
{
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
    -fx-background-color: white ;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, #000, 4, 0, 1, 1);
    -fx-padding: 5px;

}

.pane-bg
{
    -fx-background-image: url("../images/bg.jpg") ;
    -fx-background-repeat: repeat;
}

.pane-menu
{
    -fx-pref-width: 430px;
    -fx-pref-height: 230px;
    -fx-background-color: #fff;
    -fx-translate-x: 30px;
    -fx-translate-y: 30px;
    -fx-border-color: #c6cac8;

}
.hbox-toolbar
{
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-padding: 5px;
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #c6cac8;
    -fx-border-radius: 5px;
    -fx-spacing: 5px;
}

.hbox-label
{
    -fx-spacing: 2px;
    -fx-translate-y: 0px;
    -fx-text-fill: #989898;
    -fx-border-color: #c6cac8;
    -fx-border-width: 0 0 1 0;
    -fx-alignment: center;
}

.label-register
{
    -fx-font-size: 12px;
    -fx-text-fill: #989898;
}

.jfx-text-field, .jfx-password-field
{
    -jfx-label-float: true;
    -jfx-focus-color: #8b0000;
}
.jfx-text-field-firstname
{
    -fx-pref-width: 150px;
    -fx-translate-x: 235px;
    -fx-translate-y: 50px;
}

.jfx-text-field-lastname
{
    -fx-pref-width: 150px;
    -fx-translate-x: 235px;
    -fx-translate-y: 90px;
}

.jfx-text-field-email
{
    -fx-pref-width: 150px;
    -fx-translate-x: 45px;
    -fx-translate-y: 50px;

}

.jfx-text-field-username
{
    -fx-pref-width: 150px;
    -fx-translate-x: 235px;
    -fx-translate-y: 130px;
}

.jfx-password-field-password
{
    -fx-pref-width: 150px;
    -fx-translate-x: 45px;
    -fx-translate-y: 90px;
}

.jfx-button-chooseProfilePicture
{
    -fx-wrap-text: true;
    -fx-translate-x: 45px;
    -fx-translate-y: 130px;
    -fx-pref-height: 70px;
    -fx-pref-width: 70px;
    -fx-font-size: 10px;
}

.image-view-profilePicture
{
    -fx-translate-y: 130px;
    -fx-translate-x: 125px;
}

.jfx-button-register
{
    -fx-pref-width: 150px;
    -fx-translate-x: 235px;
    -fx-translate-y: 170px;
}


.jfx-button
{
    -fx-text-fill: #fff;
    -fx-background-color: #8b0000;
}

.jfx-button:hover
{
    -fx-cursor: hand;
}

